.activities-form {
	padding: 5px;
	transition: 0.4s;
	overflow-y: hidden;
}
.activities-form.hidden {
	display: none;
}
.activities-form textarea {
	resize: vertical;
}
.activity {
	padding-top: 0;
	padding-bottom: 20px;
}
.activity p {
	font-family: 'PT Serif', serif;
}
.activity button {
	position: relative;
	top: 0;
	right: 0;
}

.activity .editing {
	border: 2px solid #29f;
}


.activity .text {
	margin: 10px 0;
}